@import "tailwindcss";

 
:root {
  --accent: #9EFF00;
  --bg: #050505;
}
 
html {
  scroll-behavior: smooth;
}
 
* {
  box-sizing: border-box;
}
 
::selection {
  background: #9EFF00;
  color: #000;
}
 
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #9EFF0044;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9EFF0088;
}